.ant-table-tbody > tr > td {
  padding: 6px 8px !important;
  height: 32px !important;
}

.ant-table-thead > tr > th {
  padding: 6px 8px !important;
  height: 32px !important;
}

.ant-table-row {
  height: 32px !important;
}

.ant-drawer-header .ant-drawer-close {
  order: 999 !important;
}
